<h1><%= @movie.title %></h1><br>
<p><%= @movie.creation_year %></p>
<p><%= @movie.genre %></p>
<br>
<% @actors.each do |actor| %>
  <h3><%= actor.name %></h3>
  <p><%= actor.age %></p>
  <br>
<% end %>
